header {
    background: {
        image: url('image/bandeau.jpeg');
        repeat: no-repeat;
        attachment: fixed;
        size: cover;
        position: 50% 50%;
    }//End background
    height: 500px;
}