.home {
    background: {
        image: url('image/bandeau.jpeg');
        repeat: no-repeat;
        attachment: fixed;
        size: cover;
        position: 50% 50%;
    }//End background
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 500px;
    text-align: center;
}

.header-presentation {
    padding-top: 100px;
}

.logo {
    width: 150px;
    border: 2px solid white;
    border-radius: 6px;
}

.titre-entp {
    font-family: "Pt+sans", "arial", "Serif";
    margin-left: auto;
    margin-right: auto;
    h1{
        font-size: 4rem;
    }//end h1
    p{
        font-size: 2rem;
    }//end p
}//end titre-entp