.home {
    background: {
        image: url('image/bandeau.jpeg');
        repeat: no-repeat;
        attachment: fixed;
        size: cover;
        position: 50% 50%;
    }//End background
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    height: 500px;
    text-align: center;
}

.header-presentation {
    padding-top: 100px;
}

.logo {
    width: 150px;
    border: 2px solid black;
    box-shadow: 2px 2px white;
    border-radius: 6px;
}

.titre-entp {
    font-family: "Pt+sans", "arial", "Serif";
    h1{
        @include font-H1();
    }//end h1
    p{
       @include font-para-header();
    }//end p
}//end titre-entp