* { 
    margin:0;
    padding:0;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.titre-descr {
    h2 {
        @include font-H2();
    }//end h2
    p {
        @include font-paragraphe();
    }//end p
}//end phylo

.overlay {
    background-color: rgba(139, 139, 139, 0.3);
    margin-top: -25px;
    margin-bottom: -40px;
}

.section {
    margin-top: 35px;
    margin-bottom: 50px;
    padding-top: 25px;
    padding-bottom: 40px;
}