* { 
    margin:0;
    padding:0;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.titre-descr {
    h2 {
        @include font-H2();
    }//end h2
    p {
        @include font-paragraphe();
    }//end p
}//end phylo