//Définition des variables de police
$font-titre: Roboto, Arial, serif;
$font-paragraphe: Raleway, Helvetica, sans-serif;
$font-autres: Indie Flower, comic ss Ms, Fantasy;


$font-size: 1rem;
$font-weight: 300;

//Définition des couleurs
$font-color: #1a1919;
$font-button: #fd081b;
$font-button-hover:#eff80c;


