/* line 1, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_grid.scss */
.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin-top: 35px;
  margin-bottom: 50px;
  padding-top: 25px;
  padding-bottom: 40px; }

/* line 10, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_grid.scss */
.col-1 {
  grid-column-end: span 1; }

/* line 14, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_grid.scss */
.col-2 {
  grid-column-end: span 2; }

/* line 18, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_grid.scss */
.col-3 {
  grid-column-end: span 3; }

/* line 22, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_grid.scss */
.col-4 {
  grid-column-end: span 4; }

/* line 26, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_grid.scss */
.col-5 {
  grid-column-end: span 6; }

/* line 30, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_grid.scss */
.col-7 {
  grid-column-end: span 7; }

/* line 34, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_grid.scss */
.col-8 {
  grid-column-end: span 8; }

/* line 1, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_gallerie.scss */
#slideshow {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 80%;
  height: 240px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); }

/* line 10, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_gallerie.scss */
#slideshow > div {
  position: absolute; }

/* line 15, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_gallerie.scss */
.item img {
  border-radius: 100%;
  border: 1px solid black; }

/* line 1, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_main.scss */
* {
  margin: 0;
  padding: 0; }

/* line 6, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_main.scss */
body {
  overflow-y: scroll;
  overflow-x: hidden; }

/* line 12, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_main.scss */
.titre-descr h2 {
  position: relative;
  font-family: Roboto, Arial, serif;
  color: #1a1919;
  font-size: 3rem;
  font-weight: 450;
  text-align: center; }
  /* line 17, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_mixins.scss */
  .titre-descr h2:after {
    content: "";
    width: 250px;
    height: 5px;
    background-color: #eff80c;
    position: absolute;
    bottom: -15px;
    left: 39%; }

/* line 15, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_main.scss */
.titre-descr p {
  font-family: Raleway, Helvetica, sans-serif;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
  color: #1a1919;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 20px;
  margin-top: 45px; }

/* line 20, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_main.scss */
.overlay {
  background-color: rgba(139, 139, 139, 0.3);
  /*argin-top: -50px;
    margin-bottom: -120px;*/ }

/* line 1, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_header.scss */
.home {
  background-image: url("image/bandeau.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 500px;
  text-align: center; }

/* line 17, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_header.scss */
nav {
  background-color: r #1a1919;
  opacity: 0.2; }

/* line 22, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_header.scss */
ul {
  display: table;
  width: 500px;
  margin: 100px auto;
  padding: 0;
  border-raduis: 3px; }
  /* line 28, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_header.scss */
  ul li {
    display: table-cell; }

/* line 34, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_header.scss */
.header-presentation {
  padding-top: 100px; }

/* line 38, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_header.scss */
.logo {
  width: 150px;
  border: 2px solid black;
  box-shadow: 2px 2px white;
  border-radius: 6px; }

/* line 45, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_header.scss */
.titre-entp {
  font-family: "Pt+sans", "arial", "Serif"; }
  /* line 47, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_header.scss */
  .titre-entp h1 {
    font-family: Roboto, Arial, serif;
    color: #1a1919;
    text-shadow: 3px 3px white;
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 25px; }
  /* line 50, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_header.scss */
  .titre-entp p {
    font-family: Raleway, Helvetica, sans-serif;
    color: #1a1919;
    text-shadow: 2px 2px white;
    font-size: 3rem;
    font-weight: 450; }

/* line 1, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_solutions.scss */
.solutions {
  background: linear-gradient(to right, #fd081b, #eff80c); }

/* line 9, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_solutions.scss */
.expo {
  justify-items: center; }

/* line 13, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_solutions.scss */
.produit-bloc {
  border: 1px solid #1a1919;
  background-color: white;
  height: 300px;
  width: 250px;
  text-align: center;
  margin: 2px;
  border-radius: 6px; }
  /* line 21, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_solutions.scss */
  .produit-bloc h3 {
    font-family: Roboto, Arial, serif;
    font-size: 2rem; }
  /* line 25, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_solutions.scss */
  .produit-bloc img {
    width: 200px;
    margin-left: 8px;
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 15px; }
  /* line 32, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_solutions.scss */
  .produit-bloc .btn {
    border: 1px solid #fd081b;
    color: #fd081b;
    background-color: #eff80c;
    width: 120px;
    height: 30px;
    text-align: center;
    font-weight: 300;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fd081b;
    transition: 1s;
    -moz-transition: 1s;
    -webkit-transition: 1s;
    -o-transition: 1s; }
    /* line 63, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_mixins.scss */
    .produit-bloc .btn:hover {
      color: #eff80c;
      border-color: #eff80c;
      background-color: white;
      box-shadow: 2px 2px #fd081b;
      text-shadow: 1px 1px #1a1919; }

/* line 1, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_commentaires.scss */
.commentaires {
  background-image: url("image/commentaires.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 580px;
  text-align: center; }

/* line 1, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_contact.scss */
.information {
  font-family: Raleway, Helvetica, sans-serif;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
  color: #1a1919;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 20px;
  margin-top: 45px;
  margin-top: 150px; }

/* line 6, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_contact.scss */
.contact {
  text-align: center; }

/* line 10, /home/julien/Documents/Webdev-exo/Viaud-entp/scss/_contact.scss */
.horaire {
  text-align: center; }

/*# sourceMappingURL=style.css.map */